* {
    margin: 0px;
    padding: 0px;
}

.top-image {
	width: 100vw;
	height: 12vh;
	overflow: hidden;
	background-color: thistle;
}

.image{
	 float: left;
     padding: 15px 20px 20px 10px;
}

.content {
    width: 100vw;
    min-height: 90vh;
	background-color: rgb(29,7,54);
}

.content-child {
    width: 80vw;
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 10vh;
}
