.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: thistle;
    height: 100%;
}

.menu-item {
    float: left;
    height: 100%;
}

.menu-item a {
    display: block;
    color: rgb(29,7,54)
    text-align: center;
    font-size: 15px;
    height: 100%;
    padding: 3vh 4vw;
    margin-left: 200px;
    text-decoration: none;
}

.menu-item a:hover {
    background-color: rgb(151,138,166);
}

@media only screen and (min-width: 600px), (min-height:400) {
    .menu-item a{
    font-size: 15px;
    }
}

@media only screen and (min-width: 800px), (min-height:600) {
    .menu-item a{
    font-size: 18px;
    }
}

@media only screen and (min-width: 1000px), (min-height:700) {
    .menu-item a{
    font-size: 24px;
    }
}

@media only screen and (min-width: 1200px), (min-height:800) {
    .menu-item a{
    font-size: 30px;
    }
}