* {
	margin: 0px;
	padding: 0px;
}

.menu-container {
	background-color: grey;
	width: 100vw;
	height: 10vh;
	min-height: 50px;
}

.content {
	width: 100vw;
	height: 90vh;
	background-color: rgb(29, 7, 54);
}

.content-child {
	width: 80vw;
	padding-left: 10vw;
	padding-right: 10vw;
	padding-top: 10vh;
}

.avatar {
	border-radius: 50%;
	position: fixed;
	right: -2vw;
	top: -2vh;
	width: 20vw;
	height: 20vw;
	z-index: 100;
}

.avatar-menu {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	border-radius: 25px;
	position: fixed;
	right: -2vw;
	top: 0;
	width: 20vw;
	background-color: thistle;
	z-index: 90;
}

.avatar-menu-child {
	width: 100%;
	background-color: rgb(136, 112, 136);
	font-size: 14px;
	color: white;
	cursor: pointer;
    margin-top: 2px;
    padding: 5px;
}

.last {
	margin-bottom: 25px;
}

.hidden {
	display: none;
}

@media only screen and (min-width: 600px) {
	.avatar {
		width: 20vw;
		height: 20vw;
	}
	.avatar-menu {
		width: 20vw;
		height: 45vh;
	}
	.avatar-menu-child {
        font-size: 12px;
        padding: 5px;
	}
}

@media only screen and (min-width: 800px) {
	.avatar {
		width: 15vw;
		height: 15vw;
	}
	.avatar-menu {
		width: 15vw;
		height: 45vh;
	}
	.avatar-menu-child {
		padding: 7px;
		font-size: 15px;
	}
}

@media only screen and (min-width: 1000px) {
	.avatar {
		width: 12vw;
		height: 12vw;
	}
	.avatar-menu {
		width: 12vw;
		height: 45vh;
	}
	.avatar-menu-child {
		padding: 5px;
		font-size: 17px;
	}
}

@media only screen and (min-width: 1200px) {
	.avatar {
		width: 10vw;
		height: 10vw;
	}
	.avatar-menu {
		width: 10vw;
	}
	.avatar-menu-child {
		padding: 5px;
		font-size: 20px;
	}
}

@media only screen and (max-width: 800px) {
	.avatar-menu {
		height: 250px;
	}
}

@media only screen and (max-width: 1200px) {
	.avatar-menu {
		height: 300px;
	}
}
@media only screen and (min-width: 1201px) {
	.avatar-menu {
		height: 350px;
	}
}